.logo{
    vertical-align: middle;
}

.maintitle{
    vertical-align: middle;
    font-size: 50px ;
}

button{
    border-radius: 5px;
    padding: 10px 32px;
    border: 0;
}

#sbm_but{
    background-color: #45abea;
}